service: promodeAgro-ecommerce-api

frameworkVersion: "3"

provider:
  name: aws
  stage: ${opt:stage, 'local'}
  region: ap-south-1
  runtime: nodejs18.x
  role: arn:aws:iam::000000000000:role/lambda-role
  versionFunctions: false
  timeout: 29
  logs:
      httpApi: true
  httpApi:
    cors:
      allowedOrigins:
        - "*"
      allowedHeaders:
        - "*"
      allowedMethods:
        - OPTIONS
        - GET
        - POST
        - PUT
        - DELETE
  environment:
    STAGE: ${self:provider.stage}
    NODE_ENV: ${env:NODE_ENV, 'development'}
    AWS_REGION: ${env:AWS_REGION, 'ap-south-1'}
    REGION: ${env:REGION, 'ap-south-1'}
    DYNAMODB_ENDPOINT: ${env:DYNAMODB_ENDPOINT, 'http://localhost:4566'}
    LOCALSTACK_ENDPOINT: ${env:LOCALSTACK_ENDPOINT, 'http://localhost:4566'}
    PRODUCTS_TABLE: ${env:PRODUCTS_TABLE, 'products-local'}
    ORDER_TABLE_NAME: ${env:ORDER_TABLE_NAME, 'orders-local'}
    CUSTOMER_TABLE_NAME: ${env:CUSTOMER_TABLE_NAME, 'customers-local'}
    Inventory_TABLE_NAME: ${env:Inventory_TABLE_NAME, 'inventory-local'}
    Catalog_TABLE_NAME: ${env:Catalog_TABLE_NAME, 'catalog-local'}
    DYNAMODB_TABLE_NAME: ${env:DYNAMODB_TABLE_NAME, 'users-local'}
    JWT_SECRET: ${env:JWT_SECRET, 'promode-local-jwt-secret'}
    CART_TABLE: ${env:CART_TABLE, 'cart-local'}
    WISHLIST_TABLE: ${env:WISHLIST_TABLE, 'wishlist-local'}
    AWS_ACCESS_KEY_ID: ${env:AWS_ACCESS_KEY_ID, 'test'}
    AWS_SECRET_ACCESS_KEY: ${env:AWS_SECRET_ACCESS_KEY, 'test'}

custom:
  serverless-offline:
    httpPort: 4000
    lambdaPort: 3001
    skipCacheInvalidation: true

functions:
  - ${file(products/function.yml)}

  # - ${file(RBAC/function.yml)}
  # - ${file(loginwithotp/function.yml)}

  - ${file(OrderBills/function.yml)}
  - ${file(Users/function.yml)}
  - ${file(inventory/function.yml)}
  # - ${file(Login/function.yml)}
  # - ${file(Customer/function.yml)}
  - ${file(order/function.yml)}
  - ${file(payment/function.yml)}
  - ${file(stepFunctions/function.yml)}
  - ${file(cart/function.yml)}
  - ${file(category/function.yml)}
  - ${file(deliverySlots/function.yml)}
  - ${file(offers/function.yml)}
  - ${file(reviews/function.yml)}
  - ${file(wishlist/function.yml)}
  - ${file(sales/function.yml)}
  - ${file(saveForLater/function.yml)}
  - ${file(payment/function.yml)}
  - ${file(userSession/function.yml)}

  
  # - ${file(webhooks/function.yml)}
plugins:
  - serverless-offline
#   - serverless-esbuild

# custom:
#   esbuild:
#     bundle: true
#     minify: false
#     sourcemap: true
#     exclude: []
#     format: 'cjs'  # This is crucial for ESM support
#     concurrency: 10
#     zipConcurrency: 10
#     define:
#       'require.resolve': undefined
#     platform: 'node'
#     external:
#       - 'aws-sdk'
    
# package:
#   individually: true

# useDotenv: true

